*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-image: url(img/image\ 1.png);
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    /* width: 65%;
   max-width: 90%;
  background-color: #F2FCFC;
  display: flex;
  border-radius: 15px;
  margin: 0 auto;
  margin-top: 5%;
  height: 800px;   */
    width: 75%;
    background-color: #F2FCFC;
    display: flex;
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 5%;
    height: 1100px;
}

.header {
    background: #232B3D;
    border-radius: 8px;
    margin: 0 auto;
    width: 90%;
    height: 190px;
    margin-top: 20px;
}

.header_title {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 10px;
    color: #FFFFFF;
    margin-top: 40px;
}

.header_vote_number {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: #FFFFFF;
    opacity: 0.6;
    font-weight: 900;
    font-size: 30px;
    line-height: 10%;
    margin-top: 40px;
}

.progress_bar {
    position: relative;
    left: 50%;
    display: flex;
    justify-content: center;
    width: 62%;
    height: 11px;
    background: #F7B354;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 22px;
    transform: translateX(-50%);
}

.grid2x2 {
    margin-top: 40px;
    min-height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.grid2x2>div {
    display: flex;
    flex-basis: calc(50% - 40px);
    justify-content: center;
    flex-direction: column;
}

.grid2x2>div>div {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.box {
    margin: 20px;
}

.box1 {
    background-color: #F2FCFC;
}

.box2 {
    background-color: #F2FCFC;
}

.box3 {
    background-color: #F2FCFC;
}

.box4 {
    background-color: #F2FCFC;
}

.box5 {
    background-color: #F2FCFC;
}

.box6 {
    background-color: #F2FCFC;
}


/* .inner_grid{
  display: flex;
  flex-direction: row;
} */

.grid-container {
    display: grid;
    /* gap: 20%; */
    /* grid-gap: 2px; */
    grid-template-columns: auto auto auto;
    background-color: #F2FCFC;
    padding: 10px;
}

.grid-item {
    padding: 10px;
    font-size: 30px;
    /* text-align: center; */
}

.name {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    color: #000000;
}

img {
    border-radius: 50%;
}

input {
    margin: 0;
    padding: 0;
    border: none;
}

input:focus {
    border: none;
    outline: none;
}

form {
    text-align: center;
    margin-top: 20px;
}

.quantity input {
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 0;
    margin: 0;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
    border-right: none;
}

.quantity input:last-child {
    border-right: 1px solid #ccc;
}

input[type="button"] {
    cursor: pointer
}

@media screen and (max-width: 750px) {
    .main {
        width: fit-content;
        height: 1900px;
    }
}


/* .leader_board_button {
    position: relative;
    width: 270px;
    height: 50px;
    left: 441px;
    top: 40px;
    background: #1E2A5A;
    border-radius: 10px;
} */

.leader_board_button {
    /* text-align: center;
    height: 21px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
     identical to box height 
    text-align: center;
    color: #FFFFFF;
    */
}

a.button1 {
    display: inline-block;
    background: #1E2A5A;
    padding: 0.35em 1.5em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 21px;
    /* identical to box height */
    text-align: center;
    color: #FFFFFF;
    transition: all 0.2s;
    margin-left: 40%;
    margin-top: 20px;
    width: 200px;
}

@media all and (max-width:30em) {
    a.button1 {
        display: block;
        margin: 0.4em auto;
    }
    .error_message {
        /* margin-right: 20px; */
        /* margin-right: 5%; */
    }
}

.error_message {
    text-align: center;
    /* width: 137px;
    height: 21px; */
    /* margin-left: 47%; */
    margin-top: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 21px;
    color: #EE1A30;
}